<a href="#" class="global_list link--active has-tooltip" data-accordion-role="control" title="Go to Global List">Global list
  <span class="icon-global-list-arrow-right global-list-arrow icomoon"></span>
  <span class="icon-global-list-arrow-down global-list-arrow icomoon"></span>
</a>

<div class="global-list__tabs priority-tabs tabs">
  <a href="#" class="tabs__link tabs__link--active" data-filter-role="filter" data-filter-category="all">All</a>
  |<a href="#" class="tabs__link" data-filter-role="filter" data-filter-category="urgent">Urgent</a>
  |<a href="#" class="tabs__link" data-filter-role="filter" data-filter-category="high">High</a>
  |<a href="#" class="tabs__link" data-filter-role="filter" data-filter-category="middle">Middle</a>
  |<a href="#" class="tabs__link" data-filter-role="filter" data-filter-category="low">Low</a>
</div>

<ul class="global-list__list" data-accordion-role="content">
  <div class="select__tabs tabs">
    <a href="#" class="tabs__link select-all__tab">Select All</a>
    |<a href="#" class="tabs__link deselect-all__tab">Deselect All</a>
  </div>
</ul>