<ul class="task-groups-list">

  <div class="task-groups-list__tabs tabs status-tabs">
    <a href="#" class="tabs__link tabs__link--active" data-filter-role="filter" data-filter-status="todo">To Do</a>
    |<a href="#" class="tabs__link" data-filter-role="filter" data-filter-status="done">Done</a>
  </div>

  <li class="task-groups__item daily-list">
    <ul class="task-list">
      <div class="select__tabs">
        <a href="#" class="tabs__link select-all__tab">Select All</a>
        |<a href="#" class="tabs__link deselect-all__tab">Deselect All</a>
      </div>
    </ul>
  </li>

  <li class="task-groups__item global-list"></li>

</ul>